@import url("fonts.googleapis.com/css2?family=Lexend");

html{
    scroll-behavior: smooth;
    min-height: 100%;
}

*{
    box-sizing: border-box; /* this makes it very easy for side-by-side panels. the * means apply to all elements. */
    font-family: "Lexend", sans-serif;
    margin: 0;
}

main{
    display: flex;
}

.sidebar{
    background-color: #1d2025;
    width: 250px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100%;
    padding: 20px;
    color: white;

    /* text */
    line-height: 50px;
    font-size: 20;
}



.sidebar li {
    color: #61afef;
}

.sidebar h1{
    color: #c678dd;
}

.content{
    flex: 1; /* stands for flexible box layout. */
    padding: 18px;
    text-align: center;
    background-color: #282c34;
    color: white;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: ;
    font-size: 25px;
}

p{
    color: #fdfdfd;
}