@import url("fonts.googleapis.com/css2?family=Lexend");

html{
    scroll-behavior: smooth;
    min-height: 100%;
}

*{
    box-sizing: border-box; /* this makes it very easy for side-by-side panels. the * means apply to all elements. */
    font-family: "Lexend", sans-serif;
    margin: 0;
    background-color: transparent;
}

main{
    display: flex; /* stands for flexible box layout. */
}

.sidebar{
    /* box */
    background-color: #1d2025;
    width: 250px;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 20px;
    height: 100%;
    
    /* text */
    line-height: 50px;
    font-size: 20;
    color: white;
}

.sidebar li {
    color: #61afef;
}

.sidebar h1{
    color: #c678dd;
    margin-bottom: 10px;
}

.content{
    flex: 1; 
    padding: 16px;
    text-align: center;
    background-color: #282c34;
    color: white;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.content .banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

p{
    color: #fdfdfd;
    font-size: 16px;
    text-align: left;
}