@import url("fonts.googleapis.com/css2?family=Lexend");

/* |~~ GENERAL STYLING ~~| */

html, body{
    scroll-behavior: smooth;
    min-height: 100%;
    height: 100%;
}

.layout{
    box-sizing: border-box; /* this makes it very easy for side-by-side panels. the * means apply to all elements. */
    display: flex; /* stands for flexible box layout. */
    align-items: stretch; /* makes both panels the same height */
    min-height: 100vh;
}

*{
    margin: 0;
    font-family: "Lexend", sans-serif;
}

p{
    color: #fdfdfd;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
}

/* |~~ SIDEBAR STYLING ~~| */

.sidebar{
    /* box */
    background-color: #1d2025;
    width: 250px;
    padding: 20px;
    position: sticky;
    top: 0px;
    padding: 20px;

    line-height: 50px;
    font-size: 20;
    color: white;
}


.sidebar li{
    color: #61afef;
}

.sidebar a{
    color: #61afef;
    text-decoration: none;
}


.sidebar h1{
    color: #c678dd;
    margin-bottom: 25px;
}

/* |~~ CONTENT STYLING ~~| */
.content{
    flex: 1; 
    padding: 16px;
    text-align: center;
    background-color: #282c34;
    color: white;
    width: 100%;
}

.content p{
    margin-right: 40px;
    margin-left: 40px;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
