html{
    scroll-behavior: smooth;
}

main{
    display: flex;
}

.sidebar{
    margin-left: 500px;
    background-color: #1d2025;
    width: 400px;
    padding: 20px;
}

.content{
    margin-left: 500px;
    text-align: center;
    background-color: #282c34;
}
