.link-flash-animation{
    --color-start: #646a77;
    --color-end: var(--sidebar-background-color);
    animation: click-flash 0.3s ease-in-out;
}

.content-h3-flash-animation{
    --color-start: #484c55; 
    --color-end: var(--content-background-color);
    animation: click-flash 1.2s ease-in-out;
}

/* ~~ KEY-FRAMES ~~ */

@keyframes click-flash{
    0% {background-color: var(--color-start);}
    100% {background-color: var(--color-end);}
}