.content{
    padding: 16px;
    text-align: center;
    background-color: var(--content-background-color);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    transition: padding-left 0.5s ease-in-out;
    box-sizing: border-box;
}
.content .module{
    padding-bottom: 50px;
    padding-top: 10px;
}

.content p, summary, .file-name{
    margin-right: 100px;
    margin-left: 100px;
    overflow-wrap: break-word;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
    background-image: url("../assets/banner-design.png");
}

.banner .cube{
    font-size: 40px;
    color: var(--blue-color);
    margin-bottom: 40px;
}

pre[class*="language-"]{ /* if includes "language-" in class tag */
    box-sizing: border-box;
    background-color:#22262d;
    max-width: 80%;
    width: auto;
    padding-left: 40px;
    margin: auto;
    border-radius: 20px;
    font-size: 15px;
}

pre[class*="language-"] code, pre[class*="language-"] * {
    font-family: "Jetbrains Mono", monospace !important; /* !important means override always */
    line-height: 1.8em;
}
/* Why this is needed: prisms add colour highlights using spans.
 The font should apply to every element, that way it targets everything in the code element */

/* weather app */

.weather-app{
    background: #22262d;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.weather-app h2{
    margin-top: 20px;
}

.temperature-info{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.current-temp, .forecast-temp{
    flex: 1;
}

.current-temp{
     border-right: solid 6px #121417;
}

.current-temp .temperature{
}

@media (min-width: 768px) {
    .content{
        padding-left: 250px;
    }
}

.content.fill{
    padding-left: 0px;
}