.content{
    padding: 16px;
    text-align: center;
    background-color: var(--content-background-color);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    transition: padding-left 0.5s ease-in-out;
    box-sizing: border-box;
}
.content .module{
    padding-bottom: 50px;
    padding-top: 10px;
}

.content p, summary, .file-name{
    margin-right: 100px;
    margin-left: 100px;
    overflow-wrap: break-word;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
    background-image: url("../assets/banner-design.png");
}

.banner .cube{
    font-size: 40px;
    color: var(--blue-color);
    margin-bottom: 40px;
}

pre[class*="language-"]{ /* if includes "language-" in class tag */
    box-sizing: border-box;
    background-color:#22262d;
    max-width: 80%;
    width: auto;
    padding-left: 40px;
    margin: auto;
    border-radius: 20px;
    font-size: 15px;
}

pre[class*="language-"] code, pre[class*="language-"] * {
    font-family: "Jetbrains Mono", monospace !important; /* !important means override always */
    line-height: 1.8em;
}
/* Why this is needed: prisms add colour highlights using spans.
 The font should apply to every element, that way it targets everything in the code element */

/* weather app */

.weather-app{
    background: #22262d;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.weather-app h1{
    margin-top: 20px;
}

.temperature-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-bottom: 20px;
}

.current-temp, .forecast-temp{
    flex: .7;
}

.current-temp{
    border-right: solid 3px #393d44;
}

.weather-app .fa-solid.fa-sun{
    color: #eccc68;
}
.current-temp .display{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.weather-app .fa-cloud-rain, .fa-droplet{
    color: #84c3f8;
}

.weather-app .fa-temperature-full{
    color: #e78d6f;
}   

.current-temp .rain{
    font-size: 75px;
    margin-left: 45px;
    text-decoration: none;
}

.current-temp .date{
    font-size: 17px;
    text-align: left;
    margin-left: 45px;
    margin-top: 0px;
    text-decoration: none;
    color: var(--orange-color);
}
    
.current-temp .temperature{
    font-size: 75px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 45px;
    text-decoration: none;
}

.forecast-container{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.forecast-container .stat-box{
    margin-top: 20px;
    flex: 1;
    background: #1b1e24;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast-container .stat-box .icon { 
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.forecast-container .stat-box p{
    max-width: auto;
    width: 100%;
    margin-left: 20px;
    padding-left: 0px;
}

.forecast-container .stat-box .stat{
    flex: 1;
    text-align: right;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: max(20px, 0px);
}

@media (min-width: 768px) {
    .content{
        padding-left: 250px;
    }
}

.content.fill{
    padding-left: 0px;
}