.content{
    padding: 16px;
    text-align: center;
    background-color: var(--content-background-color);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    transition: padding-left 0.5s ease-in-out;
}

.content p{
    margin-right: 100px;
    margin-left: 100px;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
    background-image: url("../assets/banner-design.png");
}

.banner .cube{
    font-size: 40px;
    color: var(--blue-color);
    margin-bottom: 40px;
}

.content.fill{
    padding-left: 0px;
}

@media (min-width: 768px) {
    .content{
        padding-left: 250px;
    }
}