@import url("fonts.googleapis.com/css2?family=Lexend");

html, body{ 
    /* Variables */
    --sidebar-background-color: #1d2025;
    --content-background-color: #282c34;
    --purple-color: #c678dd; 
    --blue-color: #61afef; 
    --rose-color: #E06C75; 
    --orange-color: #D19A66; 
    
    --sidebar-width: 270px;

    scroll-behavior: smooth;
    min-height: 100%;
    height: 100%;
    font-size: 19px;
}

.layout{
    box-sizing: border-box; /* this makes it very easy for side-by-side panels. the * means apply to all elements. */
    display: flex; /* stands for flexible box layout. */
    align-items: stretch; /* makes both panels the same height */
    min-height: 100vh;
}

*{
    margin: 0;
    font-family: "Lexend", sans-serif;
}

p{
    color: #fdfdfd;
    text-align: left;
    line-height: 36px;
}

.bold{
    color: #D19A66;
    font-weight: bold;
}   

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
    text-decoration-color: var(--orange-color);
}