:root{ /* aka html{} */
    /* COLORING */
    --sidebar-background-color: #1d2025;
    --content-background-color: #282c34;
    --purple-color: #c678dd; 
    --blue-color: #61afef; 
    /* SIZES */
}