html, body{ 
    /* Variables */
    --sidebar-background-color: #1d2025;
    --content-background-color: #282c34;
    --purple-color: #c678dd; 
    --blue-color: #61afef; 
    --rose-color: #E06C75; 
    --orange-color: #D19A66; 
    --sidebar-width: 250px;

    scroll-behavior: smooth;
    min-height: 100%;
    height: 100%;
}