@import url("fonts.googleapis.com/css2?family=Lexend");

/* |~~ GENERAL STYLING ~~| */

.layout{
    box-sizing: border-box; /* this makes it very easy for side-by-side panels. the * means apply to all elements. */
    display: flex; /* stands for flexible box layout. */
    align-items: stretch; /* makes both panels the same height */
    min-height: 100vh;
}

*{
    margin: 0;
    font-family: "Lexend", sans-serif;
}

p{
    color: #fdfdfd;
    font-size: 19px;
    text-align: left;
    line-height: 36px;
}

/* |~~ SIDEBAR STYLING ~~| */

.sidebar{
    /* box */
    background-color: var(--sidebar-background-color);
    width: var(--sidebar-width);
    position: fixed;
    padding: 20px;
    height: 100vh;
    top: 0px;
    padding: 20px;

    line-height: 50px;
    font-size: 20;
    color: white;

    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* |~~ SIDE-BAR LIST STYLING ~~| */

.sidebar ul{
    list-style: none;
    margin-left: 0px;
    padding: 0;
}

.sidebar .header{
    display: flex;
    color: var(--purple-color);
}

.sidebar .toggle-button{
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 30%;
    color: var(--purple-color);
    border: none;
    font-size: 30px;
    width: 54px;
    height: 54px;
    margin-left: 25px;
    margin-bottom: 5px;
    transform: translateX(0);
    transition: 
        color 0.3s ease-in-out,
        transform 0.5s ease-in-out;
}

.sidebar li{
    color: #61afef;
    border: solid 1px #282c34;
    border-left: none;
    border-right: none;
    background-color: #1d2025;
}

.sidebar a{
    color: #61afef;
    text-decoration: none;
    padding: 25px;
}

.sidebar h1{
    margin-bottom: 25px;
}

/* |~~ CONTENT STYLING ~~| */
.content{
    padding: 16px;
    text-align: center;
    background-color: var(--content-background-color);
    width: 100%;
    padding-right: 0;
    padding-left: 250px;
    padding-top: 0;
    transition: padding-left 0.5s ease-in-out;
}

.content p{
    margin-right: 80px;
    margin-left: 80px;
}

.content h1{
    color: #c678dd;
    font-size: 40px;
    margin-bottom: 35px;
}

.content h2{
    color: #61afef;
    font-size: 30px;
}

.content h3{
    color: #c678dd;
    font-size: 27px;
    text-decoration: underline;
    margin-bottom: 35px;
    margin-top: 35px;
}

.banner{
    margin-bottom: 25px;
    background-color: #252931;  
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
    background-image: url("../assets/banner-design.png");
}

.banner .cube{
    font-size: 40px;
    color: var(--blue-color);
    margin-bottom: 40px;
}
