
/* GLOBAL */

.bold{
    color: #D19A66;
    font-weight: bold;
}

/* SIDE BAR */

.sidebar.close{
    transform: translateX(-100%);
}

/* CONTENT */

.content.fill{
    padding-left: 0px;
}

.toggle-button.close-mode{
    transform: translateX(200%);
}

.sidebar .toggle-button:hover{
    color: #975da9;
}